* {
  font-family: "Work Sans", sans-serif;
}
.navbar {
  background-color: grey;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-link {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
li {
  list-style: none;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: white;
}
